/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

p {
  font-size: 12px;
}

header {
  color: #192Bc2;
  padding: 20px;
  font-size: 25px;
  height: 75px;
}

.brand {
  font-family: 'Cabin';
}

.brand a{
  color: #4B43F1;
  text-decoration: none;
}

.navbar {
  background-color: #4392f1;
  color: #fff;
}

.navbar a{
  color: #fff;
}

.navbar ul li a:hover{
  background-color: #72ADF5;
}

.container-padding {
  margin-bottom: 50px;
}
